html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.container-header {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 1px solid #505268;
}

.logo {
  margin-left: 1rem;
}

.fixed {
  background-color: #313454;
}
.fixed .container-header {
  border: none;
}

.top-footer {
  padding: 72px 0 85px 0;
  background-color: #3a3e64;
}

.footer-col {
  text-align: center;
}
.footer-col h3 {
  font-weight: bold;
}
.footer-col p {
  color: #cbccd2;
  margin-top: 26px;
}
.footer-col ul {
  display: flex;
  justify-content: center;
}
.footer-col ul .border-white {
  border: 2px solid white;
}
.footer-col ul .border-white a {
  color: white;
}

.footer-bottom {
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #313454;
}
.footer-bottom p {
  color: #cbccd2;
}
.footer-bottom span {
  color: white;
}
.footer-bottom i {
  color: #ff0000;
}

.citate-autore {
  width: 50%;
  max-height: 502px;
  height: 100%;
}
.citate-autore blockquote {
  max-width: 80%;
  margin-bottom: 13rem;
}
.citate-autore blockquote p {
  font-family: "Cardo", serif;
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  margin-top: 8rem;
  margin-left: 8rem;
  margin-bottom: 3rem;
}
.citate-autore blockquote span {
  margin-left: 8rem;
}

.margin-bottom-h1 {
  margin-bottom: 26px;
}

.margin-button-top {
  margin-top: 86px;
}

.margin-h4 {
  margin: 27px 0 27px 0;
}

.margin-top-row {
  margin-top: 80px;
}

.bg-light {
  background-color: transparent !important;
}

.navbar {
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-a {
  color: #cbccd2;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  margin-right: 70px;
  padding: 0;
}
.navbar-light .navbar-nav .nav-a:last-child {
  margin-right: 0;
}

.navbar-nav a:hover {
  color: white !important;
  text-decoration: none;
}

.navbar-nav .active {
  color: white !important;
}

html, body {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  color: white;
}

h1 {
  color: white;
  font-size: 65px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  line-height: 71px;
}

h2 {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  line-height: 33px;
}

.team-h2 {
  color: #000;
  margin-top: 25px;
}

.team-span {
  color: #ff0000;
}

.team-p {
  color: #000;
  margin-top: 25px;
}

button {
  border: none;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}

.navbar-toggler {
  background-color: white;
}

#button-red {
  background-color: #e84545;
  padding: 20px 56px;
  outline: none;
  -webkit-box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
  box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
}
#button-red:hover {
  background-color: #cc0000;
}

#btn-download {
  background-color: #e84545;
  padding: 20px 82px;
  color: white;
  outline: none;
  -webkit-box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
  box-shadow: -2px -2px 9px 0px rgba(0, 0, 0, 0.43);
}

#btn-click {
  display: none;
  -webkit-appearance: button;
  background-color: white;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}
#btn-click a {
  color: #cbccd2;
}
#btn-click a:hover {
  color: white;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

#download:hover .hvr-buzz {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#btn-download:hover {
  background-color: #cc0000;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-galery img {
  width: 100%;
  display: block;
}

.wrapper-galery {
  width: 25%;
  position: relative;
  overflow: hidden;
}

.hover-galery {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 80, 80, 0.8);
  text-align: center;
}

.hover-galery h3 {
  margin-top: 30%;
  font-weight: bold;
}

.hover-galery p {
  margin-bottom: 10.7em;
}

.wrapper-galery:hover .hover-galery {
  display: block;
  cursor: pointer;
}

.wrapper-img-team {
  max-width: 270px;
  width: 100%;
}

.social-list {
  display: flex;
  margin-top: 31px;
}
.social-list .social {
  width: 40px;
  height: 40px;
  border: 1px solid #cbccd2;
  margin-right: 7px;
  text-align: center;
}
.social-list .social:last-child {
  margin-right: 0;
}
.social-list .social:hover {
  background-color: red;
  border: none;
}
.social-list .social a {
  color: #cbccd2;
}
.social-list .social a:hover {
  color: white;
}
.social-list .social i {
  margin-top: 5px;
}

.col {
  flex-grow: 0;
  margin-top: 105px;
}

.first-child-list {
  padding-left: 0;
}

.last-child-list {
  padding-right: 0;
}

section {
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  width: 100%;
}

.wellcome {
  background-image: url("../../images/welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 750px;
  position: relative;
}

.wellcome-info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.features {
  padding: 40px 0 120px 0;
}
.features .col-sm {
  font-family: "Raleway", sans-serif;
  vertical-align: middle;
  text-align: center;
}
.features .col-sm h4 {
  color: #000;
  font-weight: bold;
}
.features .col-sm p {
  text-align: center;
  padding: 0 40px 0 40px;
  color: #000;
}

.pen {
  position: relative;
  padding-top: 62px;
}
.pen:before {
  content: '';
  background-image: url("../../images/features-1.png");
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.monitor {
  position: relative;
  padding-top: 62px;
}
.monitor:before {
  content: '';
  background-image: url("../../images/features-2.png");
  width: 73px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.lamp {
  position: relative;
  padding-top: 62px;
}
.lamp:before {
  content: '';
  background-image: url("../../images/features-3.png");
  width: 41px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.clean {
  position: relative;
  padding-top: 62px;
}
.clean:before {
  content: '';
  background-image: url("../../images/features-4.png");
  width: 56px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.ready {
  position: relative;
  padding-top: 62px;
}
.ready:before {
  content: '';
  background-image: url("../../images/features-5.png");
  width: 72px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.download {
  position: relative;
  padding-top: 62px;
}
.download:before {
  content: '';
  background-image: url("../../images/features-6.png");
  width: 79px;
  height: 60px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 62px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.ligtbox {
  overflow: hidden;
}

.team {
  padding-bottom: 105px;
}

.clients {
  background-color: #53354a;
  height: auto;
}
.clients .wrapper-info-carosel {
  display: flex;
  justify-content: center;
}

.carousel-indicators {
  width: 50%;
  left: 75%;
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  margin: 0;
  margin-right: 5px !important;
}

.wrapper-img {
  width: 50%;
  overflow: hidden;
}
.wrapper-img img {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  vertical-align: middle;
  transform: translate(-50%, -50%);
}

.card-body {
  color: #000;
}
.card-body h3 {
  font-size: 28px;
}
.card-body p {
  margin-bottom: 40px;
}

.dw-load {
  padding: 100px 0 100px 0;
}

.card {
  border: none;
}

.modal_bg {
  position: absolute;
  display: none;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: #000;
}

.modal_window {
  position: absolute;
  display: none;
  left: 50%;
  z-index: 1100;
  width: 600px;
  margin-left: -300px;
  height: 300px;
  background: transparent;
}
.modal_window button {
  background: transparent;
  margin-left: 25%;
  margin-top: 10%;
  outline: none;
}
.modal_window button:hover {
  border: 1px solid white;
  background-color: rgba(242, 242, 242, 0.3);
}

.navigation-min {
  text-align: center;
}
.navigation-min li {
  margin-top: 30px;
}
.navigation-min li:first-child {
  margin-top: 0;
}
.navigation-min li a {
  color: #cbccd2;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  margin-top: 20px;
  padding: 0;
}
.navigation-min li a:hover {
  color: white;
  text-decoration: none;
}
.navigation-min li a:first-child {
  margin-top: 0;
}

.carousel.fade {
  opacity: 1;
}

.carousel.fade .carousel-item {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.carousel.fade .carousel-item.active {
  position: relative;
  opacity: 1;
}
