.carousel.fade{
  opacity: 1;
}
.carousel.fade {
  .carousel-item{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
}
.carousel.fade {
  .carousel-item.active{
    position: relative;
    opacity: 1;
  }
}