.modal_bg{
  position:absolute;
  display:none;
  z-index:1000;
  left:0;
  top:0;
  background-color:#000;
}

.modal_window{
  position:absolute;
  display:none;
  left:50%;
  z-index:1100;
  width:600px;
  margin-left:-300px;
  height:300px;
  background:transparent;
  button{
    background: transparent;
    margin-left: 25%;
    margin-top: 10%;
    outline: none;
    &:hover{
      border: 1px solid $color-white;
      background-color: rgba(242, 242, 242, 0.3);
    }
  }
}
.navigation-min {
  text-align: center;
  li {
    margin-top: 30px;
    &:first-child{
      margin-top: 0;
    }
    a {
      color: $color-grey;
      font-family: $family-all;
      font-size: 35px;
      margin-top: 20px;
      padding: 0;
      &:hover{
        color: $color-white;
        text-decoration: none;
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}