.bg-light{
  background-color: transparent !important;
}
.navbar{
  margin-bottom: 0;
}
.navbar-light {
  .navbar-nav {
    .nav-a {
      color: $color-grey;
      font-family: $family-all;
      font-size: $size-small;
      margin-right: 70px;
      padding: 0;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.navbar-nav{
  a{
    &:hover{
      color: $color-white !important;
      text-decoration: none;
    }
  }
}
.navbar-nav{
  .active{
    color: $color-white !important;
  }
}
