.citate-autore {
  width: 50%;
  max-height:502px;
  height:100%;
  blockquote {
    margin-bottom: 13rem;
    p {
      font-family: $family-cardo;
      font-size: $size-citate;
      font-style: italic;
      line-height: 42px;
      margin-top: 8rem;
      margin-left: 8rem;
      margin-bottom: 3rem;
    }
    span{
      margin-left: 8rem;
    }
  }
}