button{
  border: none;
  font-family: $family-all;
  text-transform: uppercase;
  font-size: $size-small;
}
.navbar-toggler{
  background-color: $color-white;
}
#button-red{
  color: $color-white;
    background-color: $color-red-orange;
    padding: 20px 56px;
    outline: none;
  -webkit-box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  cursor: pointer;
  &:hover{
    background-color: $color-darck-red;
  }
}
#btn-download{
  background-color: $color-red-orange;
  padding: 20px 82px;
  color:$color-white;
  outline: none;
  -webkit-box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  box-shadow: -2px -2px 9px 0px rgba(0,0,0,0.43);
  cursor: pointer;
}
#btn-click{
  display: none;
  -webkit-appearance: button;
  background-color: white;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  a{
    color: $color-grey;
    &:hover{
      color: $color-white;
    }
  }
}
@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
#download:hover {
  .hvr-buzz{
    -webkit-animation-name: hvr-buzz;
    animation-name: hvr-buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}
#btn-download{
  &:hover{
    background-color: $color-darck-red;
  }
}
