.carousel.fade{
  opacity: 1;
}
.carousel-indicators{
  width: 50%;
  left: 35%;
  li{
    width: 12px;
    height: 12px;
    margin: 0;
    margin-right: 5px !important;
    border-radius: 12px;
    cursor: pointer;
    max-width: 12px;
  }
}
.carousel.fade {
  .carousel-item{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s;
  }
}
.carousel.fade {
  .carousel-item.active{
    position: relative;
    opacity: 1;
  }
}