.wrapper-img-team{
    max-width: 270px;
    width: 100%;
}
.social-list{
  display: flex;
  margin-top: 31px;
  .social{
    width: 40px;
    height: 40px;
    border: 1px solid $color-grey;
    margin-right: 7px;
    text-align: center;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      background-color: red;
      border: 1px solid red;
    }
    a{
      color: $color-grey;
      &:hover{
        color: $color-white;
      }
    }
    i{
      margin-top: 5px;
    }
  }
}
.col{
  flex-grow: 0;
  margin-top: 105px;
}
.first-child-list{
  padding-left: 0;
}
.last-child-list{
  padding-right: 0;
}