$button-color: #ccc;

//fonts-size:
$size-h1: 65px;
$size-h2: 22px;
$size-h3: 28px;
$size-citate: 36px;
$size-all: 14px;
$size-small: 13px;

//fonts-family:
$family-all:'Raleway', sans-serif;
$family-cardo: 'Cardo', serif;
$famili-open-sans: 'Open Sans', sans-serif;

//colors:
$color-white: white;
$color-grey: #cbccd2;
$colors-grey-blue: #505268;
$color-red-orange: #e84545;
$color-red: #ff0000;
$color-darck-red: #cc0000;
$color-bordo: #53354a;
$color-darck-blue: #3a3e64;
$color-blue-black: #313454;
$color-black: #000;
