@media screen and (min-width:735px) and (max-width:1170px) {
    .row{
        justify-content: center;
    }
    #jquery-lightbox{
        margin-top: 20%!important;
    }
    .wellcome-info{
        transform: translateY(50%);
    }
    .wrapper-img img{
        left: 10%;
    }
}
@media screen and (min-width:735px) and (max-width:991px) {
    .collapse{
        display: none;
    }
    .navbar-nav{
        display: none!important;
    }
    #btn-click{
        display: block;
    }
    #jquery-lightbox{
        margin-top: 20%!important;
    }
}
@media screen and (min-width:300px) and (max-width:884px) {
    .collapse{
        display: none;
    }
    .row{
        justify-content: center;
    }
    #btn-click{
        display: block;
    }
}
@media screen and (min-width:300px) and (max-width:732px) {
    .wrapper-img{
        display: none;
    }
    .citate-autore{
        text-align: center;
    }
    .carousel-indicators {
        width: 75%;
        left: 0;
    }
    #jquery-lightbox{
        margin-top: 30%!important;
    }
    #lightbox-image{
        width: 100% !important;
    }
    #lightbox-container-image-box{
        width: 100% !important;
        height: auto !important;
    }
    #lightbox-container-image-data-box{
        width: 100% !important;
    }
    h1{
        font-size: 45px;
        line-height: 50px;
    }
    .wrapper-img img{
        display: none;
    }
    .citate-autore{
        width: 100%;
    }
    .citate-autore blockquote p{
        margin-left: 0;
    }
    .citate-autore blockquote span{
        margin-left: 0;
    }
    .hover-galery h3{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:300px) and (max-width:685px) {
    .margin-button-top {
        margin-top: 66px;
    }
    .wellcome-info{
        transform: translateY(50%);
    }
}
@media screen and (min-width:300px) and (max-width:575px) {
    .container-header{
        padding: .5rem 0 .5rem 0;
    }
    .footer-col h3{
        margin-top: 20px;
    }
    #button-red{
        padding: 15px 46px;
    }
    h1{
        font-size: 40px;
        line-height: 45px;
    }
    .margin-button-top{
        margin-top: 50px;
    }
    #btn-download{
        padding: 15px 65px;
    }
    .hover-galery h3{
        margin-top: 25%;
        font-size: 1rem;
    }
    .hover-galery p{
        font-size: .8rem;
    }
}
@media screen and (min-width:300px) and (max-width:475px) {
    h1{
        font-size: 30px;
        line-height: 35px;
    }
    h2{
        font-size: 18px;
    }
    .margin-button-top{
        margin-top: 30px;
    }
    .citate-autore blockquote p{
        font-size: 28px;
    }
    .wrapper-galery{
        width: 100%;
    }
    .carousel-indicators {
        width: 75%;
        left: 0;
    }
    .content{
        flex-direction: column;
    }
    .hover-galery h3{
        margin-top: 30%;
        font-size: 1.75rem;
    }
    .hover-galery p{
        font-size: 1.1rem;
    }
    .wellcome-info{
        transform: translateY(100%);
    }
}
@media screen and (min-width:300px) and (max-width:412px) {
    h1{
        font-size: 35px;
        line-height: 40px;
    }
}
@media screen and (min-width:300px) and (max-width:412px) {
    #lightbox-image{
        width: 100% !important;
    }
    #jquery-lightbox{
        margin-top: 30%!important;
    }
    #lightbox-container-image-box{
        width: 100% !important;
        height: auto !important;
    }
    #lightbox-container-image-data-box{
        width: 100% !important;
    }

}
@media screen and (min-width:300px) and (max-width:385px) {
    #button-red{
        font-size: 13px;
        padding: 10px 30px;
    }
}
@media screen and (min-width:300px) and (max-width:375px) {
    .wellcome{
        min-height: 667px;
    }
    .wellcome-info{
        transform: translateY(100%);
    }
    #lightbox-image{
        width: 100% !important;
    }
    #jquery-lightbox{
        margin-top: 30%!important;
    }
    #lightbox-container-image-box{
        width: 100% !important;
        height: auto !important;
    }
    #lightbox-container-image-data-box{
        width: 100% !important;
    }
    h1{
        font-size: 20px;
        line-height: 25px;
    }
    h2{
        font-size: 14px;
    }
    .margin-button-top{
        margin-top: 20px;
    }
    .citate-autore blockquote p{
        font-size: 20px;
    }
    .footer-bottom p{
        font-size: 11px;
    }
    .card-body h3{
        font-size: 20px;
    }

}